.menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease-in;
}

.link:hover {
  color: #f6b17a;
}

.link:global(.active) {
  color: #f6b17a;
}
